.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x .tick text {
  -webkit-transform: translate(-25px, 25px) rotate(-45deg);
}

.x.axis path {
  display: none;
}

svg {
  height: 550px;
}
