---
title: Installation
subtitle: Columns template
description: Test description
---

{% extends "topbar.j2" %}

{% block container %}

## Installation

To install UV-CDAT, you'll need to either build it yourself (not covered here)
or download a [binary][binaries].

The current UV-CDAT version is 1.2.0rc1.

### Dependencies

* Linux
    * GFortran
    * `libqt4-dev` (if not under RH6)
    * `xorg-dev`
    * `libxml2-dev`
    * `libxslt2-dev`
    * `sqlite3`

For OS X and RH6, you'll also need to grab whatever Qt version UV-CDAT has been
compiled against. In OS X, double-click the dmg and follow the instructions.
In Red Hat 6,

    cd /
    sudo tar xjv qt-RH6-64bit-4.8.0.tar.bz2

#### Other notes

The OS X build is picky about GFortran versions. Make sure you get the dmg from
the binaries website.


### How to install

    cd /
    sudo tar xjvf UV-CDAT-[version number]-[your OS here].tar.bz2


[binaries]: https://sourceforge.net/projects/cdat/files/Releases/UV-CDAT/1.3/

{% endblock container %}
