---
title: Developer info
subtitle: Columns template
description: Test description
---

{% extends "topbar.j2" %}

{% block css %}
<style type="text/css">
  div.span4 {
    border: 1px solid black;
    padding: 20px 20px 40px;
  }
  div.span12 {
    margin: 20px 20px 40px;
  }
  div.span12 > a > div.span4 > h3 {
    color: black;
  }
</style>
{% endblock css %}

{% block container %}

## Developer info

Our projects use Git and GitHub wherever possible. If that's not your usual cup
of tea and you'd like to contribute, check out GitHub's
[very friendly introduction][git help] to Git. Then, for instructions specific
to contributing, see their [article on forking][forking].

If you're ready to go, pick which project you'd like to contribute to:

<div class="span12">
  <a href="http://github.com/UV-CDAT">
    <div class="span4">
      <h3>Contribute to UV-CDAT</h3>
      Visit the UV-CDAT GitHub organization &rarr;
    </div>
  </a>
  <a href="http://github.com/aims-group/uvcdat-site">
    <div class="span4">
      <h3>Contribute to this website</h3>
      Check out the aims-group/uvcdat-site repo &rarr;
    </div>
  </a>
</div>

[git help]: https://help.github.com/articles/set-up-git
[forking]: https://help.github.com/articles/fork-a-repo

{% endblock container %}
