---
title: Home
description: UV-CDAT Home Page
---

{% extends "hero.j2" %}

{% block css %}
<style type="text/css">
div.hero-unit {
  position: relative;
  z-index: 1;
}
div.hero-unit div.hero-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .15;
  background: url(media/images/uv-cdat.png) center center no-repeat;
  width: 100%;
  height: 100%;
}
div.span4 {
  border: 1px solid black;
  margin-left: 0;
  padding: 20px 20px 40px;
}
div.span12 {
  margin: 20px 0 40px;
}
div.span12 > a > div.span4 > h3 {
  color: black;
}
div.span6 > img {
  max-height: 180px;
}
div.peopleCarouselImg {
  padding: 60px;
  height: 225px;
  max-height: 225px;
}
.peopleCarouselImg img {
  width: auto;
  height: 225px;
  max-height: 225px;
}
div.hero-unit {
  padding: 0;
}
div.announcement {
  background: none;
  border: 1px solid #ccc;
  border-radius: 0;
  margin:  auto;
  margin-bottom: 20px;
  padding: 15px 30px;
  width:   75%;
}
div.announcement h3 {
  margin: 0;
}
div.announcement p {
  line-height: 1.2;
}
</style>
{% endblock css %}

{% block hero %}
{% include "carousel.j2" %}
{% endblock hero %}
{% block main %}

<div class="hero-unit announcement">
  <h3>UV-CDAT 2.1 is released!</h3>
  <p>The UV-CDAT team is pleased to announce the release of UV-CDAT version 2.1.0 (v2.1). Thanks to users and testers, this is a major bug fix release and therefore we strongly recommend users upgrade their UV-CDAT executable to v2.1. Currently for this release, we are providing binary distributions for RedHat6/CentOS6, Ubuntu 14.XX, Mac OS X 10.8 and up, and the installation source code. Additional binaries may become available later. Visit <a href="installing.html">Installing</a> for directions on how to get UVCDAT 2.1.</p>
</div>

<h2>The UV-CDAT Project</h2>
<p>
UV-CDAT builds on the following key technologies:
<ol>
  <li>The Climate Data Analysis Tools (CDAT) framework developed at LLNL for the analysis, visualization, and management of large-scale distributed climate data;</li>
  <li>ParaView: an open-source, multi-platform, parallel-capable visualization tool with recently added capabilities to better support specific needs of the climate-science community;</li>
  <li>VisTrails, an open-source scientific workflow and provenance management system that supports data exploration and visualization;</li>
  <li>VisIt: an open-source, parallel-capable, visual-data exploration and analysis tool that is capable of running on a diverse set of platforms, ranging from laptops to the Department of Energy's largest supercomputers.</li>
</ol>
</p>
<p>
These combined tools, along with others such as the R open-source statistical
analysis and plotting software and custom packages (e.g. vtDV3D), form UV-CDAT
and provide a synergistic approach to climate modeling, allowing researchers to
advance scientific visualization of large-scale climate data sets. The UV-CDAT
framework couples powerful software infrastructures through two primary means:

<ol>
  <li>Tightly coupled integration of the CDAT Core with the VTK/ParaView infrastructure to provide high-performance, parallel-streaming data analysis and visualization of massive climate-data sets (other tighly coupled tools include
  VCS, VisTrails, DV3D, and ESMF/ESMP);</li>
  <li>Loosely coupled integration to provide the flexibility of using tools quickly
  in the infrastructure such as ViSUS, VisIt, R, and MatLab for data analysis and
  visualization as well as to apply customized data analysis applications within
  an integrated environment.</li>
</ol>
</p>
<p>
Within both paradigms, UV-CDAT will provide data-provenance capture and
mechanisms to support data analysis via the VisTrails infrastructure.
</p>
<h3>U.S. Sponsors</h3>
<div class="row">
  <div class="span6">
    <img src="media/images/doe.svg" class="thumbnail" />
  </div>
  <div class="span6">
    <img src="media/images/nasa.svg" class="thumbnail" />
  </div>
</div>

<!--  <h3><a href="usage.html">Usage</a> <small>(beta)</small></h3> -->
{% endblock main %}
