---
title: Home
description: Test description
---

{% extends "hero.j2" %}

{% block css %}
<style type="text/css">
  div.hero-unit {
    position: relative;
    z-index: 1;
  }
  div.hero-unit div.hero-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .15;
    background: url(media/images/uv-cdat.png) center center no-repeat;
    width: 100%;
    height: 100%;
  }
  div.span4 {
    border: 1px solid black;
    margin-left: 0;
    padding: 20px 20px 40px;
  }
  div.span12 {
    margin: 20px 0 40px;
  }
  div.span12 > a > div.span4 > h3 {
    color: black;
  }
  div.span6 > img {
    max-height: 180px;
  }
</style>
{% endblock css %}

{% block hero %}
  <div class="hero-bg"></div>
  <h1>Ultrascale Visualization</h1>
  <h2>Climate Data Analysis Tools</h2>
  <p>UV-CDAT is a powerful and complete front-end to a rich set of visual-data exploration and analysis capabilities well suited for climate-data analysis problems.</p>
  <p><a href="mission.html" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
{% endblock hero %}
{% block main %}
## The UV-CDAT Project
UV-CDAT builds on the following key technologies:

1. the Climate Data Analysis Tools (CDAT) framework developed at LLNL for the
analysis, visualization, and management of large-scale distributed climate data;
2. ParaView: an open-source, multi-platform, parallel-capable visualization tool
with recently added capabilities to better support specific needs of the
climate-science community;
3. VisTrails, an open-source scientific workflow and provenance management
system that supports data exploration and visualization; and
4. VisIt: an open-source, parallel-capable, visual-data exploration and
analysis tool that is capable of running on a diverse set of platforms, ranging
from laptops to the Department of Energy's largest supercomputers.

These combined tools, along with others such as the R open-source statistical
analysis and plotting software and custom packages (e.g. vtDV3D), form UV-CDAT
and provide a synergistic approach to climate modeling, allowing researchers to
advance scientific visualization of large-scale climate data sets. The UV-CDAT
framework couples powerful software infrastructures through two primary means:

1. tightly coupled integration of the CDAT Core with the VTK/ParaView
infrastructure to provide high-performance, parallel-streaming data analysis and
visualization of massive climate-data sets (other tighly coupled tools include
VCS, VisTrails, DV3D, and ESMF/ESMP); and
2. loosely coupled integration to provide the flexibility of using tools quickly
in the infrastructure such as ViSUS, VisIt, R, and MatLab for data analysis and
visualization as well as to apply customized data analysis applications within
an integrated environment.

Within both paradigms, UV-CDAT will provide data-provenance capture and
mechanisms to support data analysis via the VisTrails infrastructure.

### U.S. Sponsors
<div class="row">
  <div class="span6">
    <img src="media/images/doe.svg" class="thumbnail" />
  </div>
  <div class="span6">
    <img src="media/images/nasa.svg" class="thumbnail" />
  </div>
</div>

### Gallery

<div class="row">
  <div class="span3">
    <a target="_blank" href="media/images/gallery/Celine's California Plot.png">
      <img src="media/images/gallery/Celine's California Plot.png" class="thumbnail" />
    </a>
  </div>
  <div class="span3">
    <a target="_blank" href="media/images/gallery/Figure 5.png">
      <img src="media/images/gallery/Figure 5.png" class="thumbnail" />
    </a>
  </div>
  <div class="span3">
    <a target="_blank" href="media/images/gallery/GUI_and_Pipeline.png">
      <img src="media/images/gallery/GUI_and_Pipeline.png" class="thumbnail" />
    </a>
  </div>
  <div class="span3">
    <a target="_blank" href="media/images/gallery/Image-2-Composite.png">
      <img src="media/images/gallery/Image-2-Composite.png" class="thumbnail" />
    </a>
  </div>
</div>
<div class="row">
  <div class="span3">
    <a target="_blank" href="media/images/gallery/Image2.png">
      <img src="media/images/gallery/Image2.png" class="thumbnail" />
    </a>
  </div>
  <div class="span3">
    <a target="_blank" href="media/images/gallery/ScreenShot-UVCDAT-final1.png">
      <img src="media/images/gallery/ScreenShot-UVCDAT-final1.png" class="thumbnail" />
    </a>
  </div>
  <div class="span3">
    <a target="_blank" href="media/images/gallery/Taylor_Diagram.png">
      <img src="media/images/gallery/Taylor_Diagram.png" class="thumbnail" />
    </a>
  </div>
  <div class="span3">
    <a target="_blank" href="media/images/gallery/figure 3b.png">
      <img src="media/images/gallery/figure 3b.png" class="thumbnail" />
    </a>
  </div>
</div>
<div class="row">
  <div class="span3">
    <a target="_blank" href="media/images/gallery/grid.png">
      <img src="media/images/gallery/grid.png" class="thumbnail" />
    </a>
  </div>
  <div class="span3">
    <a target="_blank" href="media/images/gallery/matplotlib_clt.png">
      <img src="media/images/gallery/matplotlib_clt.png" class="thumbnail" />
    </a>
  </div>
  <div class="span3">
    <a target="_blank" href="media/images/gallery/portrait_plot.png">
      <img src="media/images/gallery/portrait_plot.png" class="thumbnail" />
    </a>
  </div>
  <div class="span3">
    <a target="_blank" href="media/images/gallery/typhoon_3_norevert.png">
      <img src="media/images/gallery/typhoon_3_norevert.png" class="thumbnail" />
    </a>
  </div>
</div>
<div class="row">
  <div class="span3">
    <a target="_blank" href="media/images/gallery/uv_NA.png">
      <img src="media/images/gallery/uv_NA.png" class="thumbnail" />
    </a>
  </div>
  <div class="span3">
    <a target="_blank" href="media/images/gallery/UVCDAT-TEMP[1][1].png">
      <img src="media/images/gallery/UVCDAT-TEMP[1][1].png" class="thumbnail" />
    </a>
  </div>
</div>

<h3><a href="usage.html">Usage</a> <small>(beta)</small></h3>

{% endblock main %}
