---
title: Home
description: Test description
---

{% extends "hero.j2" %}

{% block css %}
<style type="text/css">
  div.hero-unit {
    position: relative;
    z-index: 1;
  }
  div.hero-unit div.hero-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .15;
    background: url(media/images/uv-cdat.png) center center no-repeat;
    width: 100%;
    height: 100%;
  }
</style>
{% endblock css %}

{% block hero %}
  <div class="hero-bg"></div>
  <h1>Ultrascale Visualization</h1>
  <h2>Climate Data Analysis Tools</h2>
  <p>UV-CDAT is a powerful and complete front-end to a rich set of visual-data exploration and analysis capabilities well suited for climate-data analysis problems.</p>
  <p><a href="mission.html" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
{% endblock hero %}
{% block main %}
## The UV-CDAT Project
UV-CDAT builds on the following key technologies:

1. the Climate Data Analysis Tools (CDAT) framework developed at LLNL for the
analysis, visualization, and management of large-scale distributed climate data;
2. ParaView: an open-source, multi-platform, parallel-capable visualization tool
with recently added capabilities to better support specific needs of the
climate-science community;
3. VisTrails, an open-source scientific workflow and provenance management
system that supports data exploration and visualization; and
4. VisIt: an open-source, parallel-capable, visual-data exploration and
analysis tool that is capable of running on a diverse set of platforms, ranging
from laptops to the Department of Energy's largest supercomputers.

These combined tools, along with others such as the R open-source statistical
analysis and plotting software and custom packages (e.g. vtDV3D), form UV-CDAT
and provide a synergistic approach to climate modeling, allowing researchers to
advance scientific visualization of large-scale climate data sets. The UV-CDAT
framework couples powerful software infrastructures through two primary means:

1. tightly coupled integration of the CDAT Core with the VTK/ParaView
infrastructure to provide high-performance, parallel-streaming data analysis and
visualization of massive climate-data sets (other tighly coupled tools include
VCS, VisTrails, DV3D, and ESMF/ESMP); and
2. loosely coupled integration to provide the flexibility of using tools quickly
in the infrastructure such as ViSUS, VisIt, R, and MatLab for data analysis and
visualization as well as to apply customized data analysis applications within
an integrated environment.

Within both paradigms, UV-CDAT will provide data-provenance capture and
mechanisms to support data analysis via the VisTrails infrastructure.

---

<h2>Usage<small>beta</small></h2>
<a href="usage.html">Usage plots</a>

{#
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
#}
{% endblock main %}
