---
title: Obtaning
subtitle: Columns template
description: Test description
---

{% extends "topbar.j2" %}

{% block container %}
## Obtaning UV-CDAT

###UV-CDAT

* ####[System Requirements](https://github.com/UV-CDAT/uvcdat/wiki/System-Requirements) (Mac & Linux)
* ####[Installing from Source](https://github.com/UV-CDAT/uvcdat/wiki/Building-UVCDAT)
* ####[Binaries Installation](https://github.com/UV-CDAT/uvcdat/wiki/Install-Binaries) / [Download the Binaries](http://sourceforge.net/projects/cdat/files/Releases/UV-CDAT/1.4/)
* ####[Release Notes](https://github.com/UV-CDAT/uvcdat/wiki/Roadmap-to-Release)
* ####[GitHub Releases](https://github.com/UV-CDAT/uvcdat/releases)

{% endblock container %}
