---
title: Obtaning
subtitle: Columns template
description: Test description
---

{% extends "topbar.j2" %}

{% block container %}
### Quick Basics
* The UV-CDAT application currently aviavle for Linux and Mac (Windows coming soon)
* [UV-CDAT License](http://www.gnu.org/licenses/gpl.html)

### Installing UV-CDAT

* ####<a href="https://github.com/UV-CDAT/uvcdat/wiki/System-Requirements">System Requirements <img src="media/images/githubwiki.png"> </a>
* ####<a href="https://github.com/UV-CDAT/uvcdat/wiki/Building-UVCDAT">Installing from Source <img src="media/images/githubwiki.png"> </a>
* ####<a href="https://github.com/UV-CDAT/uvcdat/wiki/Install-Binaries">Binaries Installation <img src="media/images/githubwiki.png"> </a>
* ####<a href="http://sourceforge.net/projects/cdat/files/Releases/UV-CDAT/1.4/">Download the Binaries here </a>
* ####<a href="https://github.com/UV-CDAT/uvcdat/wiki/Roadmap-to-Release">Release Notes <img src="media/images/githubwiki.png"> </a>
* ####<a href="https://github.com/UV-CDAT/uvcdat/releases">GitHub Releases</a>

### Avaiable Packages in CDAT

{% endblock container %}
