---
title: Obtaning
subtitle: Columns template
description: Test description
---

{% extends "topbar.j2" %}

{% block container %}
### Quick Basics
* The UV-CDAT application currently aviavle for Linux and Mac (Windows coming soon)
* <a href="http://www.gnu.org/licenses/gpl.html">UV-CDAT License <img src="media/images/icon_external_site.gif"> </a>
* <a href="https://github.com/UV-CDAT/uvcdat/wiki/What-Is-Built"> Available Packages in CDAT <img src="media/images/githubwiki.png"></a>

### Installing UV-CDAT

* ####<a href="https://github.com/UV-CDAT/uvcdat/wiki/System-Requirements">System Requirements <img src="media/images/githubwiki.png"> </a>
* ####<a href="https://github.com/UV-CDAT/uvcdat/wiki/Building-UVCDAT">Installing from Source <img src="media/images/githubwiki.png"> </a>
* ####<a href="https://github.com/UV-CDAT/uvcdat/wiki/Install-Binaries">Binaries Installation <img src="media/images/githubwiki.png"> </a>
* ####<a href="http://sourceforge.net/projects/cdat/files/Releases/UV-CDAT/1.5/">Download the Binaries here <img src="media/images/icon_external_site.gif"> </a>
* ####<a href="https://github.com/UV-CDAT/uvcdat/wiki/Roadmap-to-Release">Release Notes <img src="media/images/githubwiki.png"> </a>
* ####<a href="https://github.com/UV-CDAT/uvcdat/releases">GitHub Releases <img src="media/images/githubwiki.png"></a>

{% endblock container %}
