---
title: Mailing list
subtitle: Columns template
description: Test description
---

{% extends "base.j2" %}

{% block css %}

<style type="text/css">
  img.contact-logo {
    height: 40px;
  }
</style>

{% endblock css %}

{% block container %}

### UV-CDAT Mailing List

####Reminder
**The best place to ask and anwser any questions regarding UV-CDAT (installing, downloading, usage, etc.) is our [Support Forum][uvcdat-askbot]!**

---

#### Subscribing to the mailing list
The mailing list is a great way to stay in contact and up todate with the development of the UV-CDAT Projects.    

To join the mailing list, send an email to [majordomo@lists.llnl.gov][majordomo] with the following in the body:

    subscribe uvcdat-support

#### Unsubscribing to the mailing list
To leave the mailing list, send an email to [majordomo@lists.llnl.gov][majordomo] with the following in the body:

    unsubscribe uvcdat-support

---

#### Other forms of contact

<a href="http://www.youtube.com/channel/UCi08s8xII45WKWrfl96eMWA"><img class="contact-logo" src="media/images/youtube.png" alt="YouTube logo"/></a>
<a href="https://twitter.com/uvcdat"><img class="contact-logo" src="media/images/twitter.png" alt="Twitter logo"/></a>
<a href="https://plus.google.com/u/0/b/105875437550190523024/105875437550190523024/about"><img class="contact-logo" src="media/images/google+.png" alt="Google+ logo"/></a>

[uvcdat-askbot]:   http://askbot-uvcdat.llnl.gov
[majordomo]:       mailto:majordomo@lists.llnl.gov

{% endblock container %}
