---
title: Tutorials
---

{% extends "topbar.j2" %}

{% block css %}
<style type="text/css">
div.tutorial {
  background-color: #eee;
  border: .09em solid black;
  box-shadow: .5em .5em 0 #333;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}
div.row > div.tutorial > img {
  width: 90px;
}
</style>
{% endblock css %}

{% block container %}
<h2>Tutorials</h2>
<div class="row">
  <div class="span5 tutorial">
    <!-- <img src="media/images/youtube.png" /> -->
    <a class="tutorial-title" href="http://www.youtube.com/channel/UCi08s8xII45WKWrfl96eMWA">See all videos</a>
  </div>
  <div class="span5 tutorial">
    <!-- <img src="media/images/tutorials/Screen%20Shot%202013-0%232ABC4E6F.png" /> -->
    <a class="tutorial-title" href="https://github.com/UV-CDAT/uvcdat/wiki/Adding-new-plots-to-UVCDAT">Adding new plots to UVCDAT</a>
  </div>
  <div class="span5 tutorial">
    <a class="tutorial-title" href="http://www.youtube.com/watch?v=Ia1LAasLT9M">Load Variables</a>
  </div>

</div>
{% endblock container %}
