<footer>
    <div class="container">
        <div class="row">
    	    <div class="col-sm-3 footernav">
        		<h5>Project Information</h5>
        		<ul class="nav">
    	    		<li><a href="/mission.html">Mission</a></li>
    		    	<li><a href="/governance.html">Governance</a></li>
                    <li><a href="/acknowledgements.html">Acknowledgements</a></li>
    		    </ul>
    	    </div>
	        <div class="col-sm-3 footernav">
        		<h5>Contribute</h5>
        		<ul class="nav">
        		  <li><a href="https://github.com/UV-CDAT/uvcdat">GitHub Project Page</a></li>
                  <li><a href="https://github.com/UV-CDAT/uvcdat/wiki">Wiki</a></li>
                  <li><a href="https://github.com/UV-CDAT/uvcdat/issues/new">Report a Bug</a></li>
        		</ul>
        	</div>
        	<div class="col-sm-3 footernav">
        		<h5>Press</h5>
        		<ul class="nav">
                    <li><a href="/presentations.html">Presentations</a></li>
        			<li><a href="/publications.html">Publications</a></li>
        			<li><a href="/reports.html">Reports</a></li>
        		</ul>
        	</div>
        	<div class="col-sm-3 footernav">
        		<h5>Info</h5>
        		<ul class="nav">
                    <li><a href="/animations.html">Animations</a></li>
                    <li><a href="/design.html">Design Documents</a></li>
        			<li><a href="https://github.com/UV-CDAT/uvcdat/wiki/Use-Cases">Use Cases</a></li>
        		</ul>
        	</div>
        </div>
    </div>
    <hr>
    <div class='row bottom-links'>
        <div class='col-sm-12 footer-links'>
            <a href="https://aims.llnl.gov/">AIMS</a> &bull;
            <a href="http://www.llnl.gov/">LLNL</a> &bull;
            <a href="https://raw.github.com/UV-CDAT/uvcdat/master/docs/Legal.txt">Privacy &amp; Legal Notice</a> &bull;
            <a href="https://www.llnl.gov/disclaimer.html">LLNL-WEB-460691</a> &bull;
            <a href="https://github.com/aims-group/uvcdat-site/issues">Site Issues</a> &bull;
            <a href="contact.html">Contact</a>
        </div>
    </div>
    <br/>
</footer>
