<div class="carousel-inner">
  <div class="item peopleCarouselImg active"><!-- class of active since it's the first item -->
    <div class="hero-bg"></div>
    <h1>Ultrascale Visualization</h1>
    <h2>Climate Data Analysis Tools</h2>
    <p>UV-CDAT is a powerful and complete front-end to a rich set of visual-data exploration and analysis capabilities well suited for climate-data analysis problems.</p>
    <p><a href="mission.html" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>
  {% from "macros.j2" import render_carousel_items with context %}
  {{ render_carousel_items(carousel) }}
</div><!-- /.carousel-inner -->
<a class="carousel-control left" href="#hero-carousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#hero-carousel" data-slide="next">&rsaquo;</a>
