<br/>
<h3>Gallery</h3>
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item peopleCarouselImg active"><!-- class of active since it's the first item -->
      <center>
        <img src="media/images/gallery/CelinesCaliforniaPlot.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/figure3b.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/Figure5a.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/Figure5b.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/Figure5c.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/Figure5d.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/GlyphVolume-1.jpg" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/grid.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/GUI_and_PipelineA.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/GUI_and_PipelineB.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/GUI_and_PipelineC.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/GUI_and_PipelineD.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/HR-RH-VR-Slicer-2.jpg" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/Image-2-CompositeA.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/Image-2-CompositeB.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/Image-2-CompositeC.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/Image-2-CompositeD.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/Image-2-CompositeE.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/Image-2-CompositeF.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/Image2.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/matplotlib_clt.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/portrait_plot.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/RH-VR-Slicer-1.jpg" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/RH-VR-Slicer-2.jpg" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/RH-QV-sosurface.jpg" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/ScreenShot-UVCDAT-finalA.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/ScreenShot-UVCDAT-finalB.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/ScreenShot-UVCDAT-finalC.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/ScreenShot-UVCDAT-finalD.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/ScreenShot-UVCDAT-finalE.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/ScreenShot-UVCDAT-finalF.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/SlicerAndVR.jpg" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/StreamerSlicer-1.jpg" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/Taylor_Diagram.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/typhoon_3_norevert.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/U-VR-Slicer-1.jpg" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/uv_NA.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/UVCDAT-Hyperwall.jpg" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/UVCDAT-TEMP.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
    <div class="item peopleCarouselImg">
      <center>
        <img src="media/images/gallery/VR_JetStream.png" class="thumbnail" />
        <div class="carousel-caption">
          <p>Caption text here</p>
        </div>
      </center>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below href values must reference the id for this carousel -->
  <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
