<div class="carousel-inner">
  <div class="item peopleCarouselImg active"><!-- class of active since it's the first item -->
    <div class="hero-bg"></div>
    <h1>Ultrascale Visualization</h1>
    <h2>Climate Data Analysis Tools</h2>
    <p>UV-CDAT is a powerful and complete front-end to a rich set of visual-data exploration and analysis capabilities well suited for climate-data analysis problems.</p>
    <p><a href="mission.html" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>
  <div class="item peopleCarouselImg"><!-- class of active since it's the first item -->
    <center>
      <img src="media/images/gallery/CelinesCaliforniaPlot.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/figure3b.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/Figure5a.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/Figure5b.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/Figure5c.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/Figure5d.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/GlyphVolume-1.jpg" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/grid.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/GUI_and_PipelineA.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/GUI_and_PipelineB.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/GUI_and_PipelineC.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/GUI_and_PipelineD.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/HR-RH-VR-Slicer-2.jpg" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/Image-2-CompositeA.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/Image-2-CompositeB.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/Image-2-CompositeC.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/Image-2-CompositeD.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/Image-2-CompositeE.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/Image-2-CompositeF.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/Image2.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/matplotlib_clt.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/portrait_plot.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/RH-VR-Slicer-1.jpg" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/RH-VR-Slicer-2.jpg" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/RH-QV-sosurface.jpg" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/ScreenShot-UVCDAT-finalA.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/ScreenShot-UVCDAT-finalB.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/ScreenShot-UVCDAT-finalC.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/ScreenShot-UVCDAT-finalD.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/ScreenShot-UVCDAT-finalE.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/ScreenShot-UVCDAT-finalF.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/SlicerAndVR.jpg" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/StreamerSlicer-1.jpg" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/Taylor_Diagram.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/typhoon_3_norevert.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/U-VR-Slicer-1.jpg" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/uv_NA.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/UVCDAT-Hyperwall.jpg" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/UVCDAT-TEMP.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
  <div class="item peopleCarouselImg">
    <center>
      <img src="media/images/gallery/VR_JetStream.png" class="thumbnail" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </center>
  </div>
</div><!-- /.carousel-inner -->
<a class="carousel-control left" href="#hero-carousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#hero-carousel" data-slide="next">&rsaquo;</a>
