{% extends "base.j2" %}

{% block inside_container %}

{% filter gfm %}
{% block container %}
{% endblock container %}
{% endfilter %}

{% block nav_links %}
	
	{% set current = resource.meta["index"]%}
	{% set gather_previous = True %}
	
	{% set pages = node.resources %}
	{% set p = {} %}
	
	{% for ind in pages|map(attribute='meta')|map(attribute='index') %}
		{# Create a lookup of page index in the node resources x page index in the documentation #}
		{% do p.update( {ind: loop.index0} ) %}
	{% endfor %}

	{% set links = [] %}

	{% if current > 1 and (current - 1) in p %}
		{% set previous = "<a href=" ~ pages[p[current - 1]].full_url ~ ">Previous</a>" %}
		{% do links.append(previous) %}
	{% endif %}

	{% if -1 in p and current != -1 %}
		{% set toc = "<a href=" ~ pages[p[-1]].full_url ~ ">Table of Contents</a>" %}
		{% do links.append(toc) %}
	{% endif %}
	
	{% if (current + 1) in p %}
		{% set next = "<a href=" ~ pages[p[current + 1]].full_url ~ ">Next</a>" %}
		{% do links.append(next) %}
	{% endif %}

	{{ links|join(' | ') }}

{% endblock nav_links %}

{% endblock inside_container %}