{# Columns template #}

{% extends "topbar.j2" %}

{% block container %}

<div class="hero-unit">
  {% filter markdown -%}
  {% block hero %}{% endblock %}
  {%- endfilter %}
</div>

<div class="row">
  {% filter markdown -%}
  {% block main %}{% endblock %}
  {%- endfilter %}
</div>

{% endblock container %}
