{% macro render_main_menu() -%}
<ul class="nav">
{% for menu_item in menu -%}
  {% if menu_item.url is not string %}
    <li class="dropdown{% for dropdown_item in menu_item.url %}{% if "/" + dropdown_item.url == resource.url %} active{% endif %}{% endfor %}">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu_item.title }} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        {% for dropdown_item in menu_item.url -%}
          <li><a href="{{ dropdown_item.url }}">{{ dropdown_item.title }}</a></li>
        {%- endfor %}
      </ul>
    </li>
  {% else %}
    <li{% if "/" + menu_item.url == resource.url or menu_item.active %} class="active"{% endif %}><a href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
  {% endif %}
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_sidebar(name, home, items) -%}
<div class="container-fluid">
<div class="row-fluid">
<div class="span3">
<div class="well sidebar-nav">
<ul class="nav nav-list">
  <a href="{{ home }}"><h4>{{ name }} home</h4></a>
{% for sidebar_item in items -%}
  {% if sidebar_item.url is not string %}
    <li class="nav-header">{{ sidebar_item.title }}</li>
    {% for sidebar_subitem in sidebar_item.url -%}
      <li{% if "/" + sidebar_subitem.url == resource.url or sidebar_subitem.active %} class="active"{% endif %}><a href="{{ sidebar_subitem.url }}">{{ sidebar_subitem.title }}</a></li>
    {% endfor %}
  {% else %}
    <li{% if "/" + sidebar_item.url == resource.url or sidebar_item.active %} class="active"{% endif %}><a href="{{ sidebar_item.url }}">{{ sidebar_item.title }}</a></li>
  {% endif %}
{%- endfor %}
</ul>
</div>
</div>
<div class="span9">
<div class="row-fluid">
{%- endmacro %}

{% macro render_carousel_items(items) -%}
  {% for carousel_item in items -%}
    <div class="item peopleCarouselImg">
      <center>
        <img src="{{ carousel_item.image }}" class="thumbnail" />
        <div class="carousel-caption">
          <p>{{ carousel_item.caption }}</p>
        </div>
      </center>
    </div>
  {%- endfor %}
{%- endmacro %}
