{% macro render_main_menu() -%}
<ul class="nav">
{% for menu_item in menu -%}
  {% if menu_item.url is not string %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu_item.title }} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        {% for dropdown_item in menu_item.url -%}
          <li><a href="{{ dropdown_item.url }}">{{ dropdown_item.title }}</a></li>
        {%- endfor %}
      </ul>
    </li>
  {% else %}
    <li{% if "/" + menu_item.url == resource.url or menu_item.active %} class="active"{% endif %}><a href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
  {% endif %}
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_sidebar() -%}
<ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
{% for sidebar_item in sidebar -%}
  <li{% if sidebar_item.url == resource.url or sidebar_item.active %} class="active"{% endif %}><a href="{{ sidebar_item.url }}">{{ sidebar_item.title }}</a></li>
{%- endfor %}
</ul>
{%- endmacro %}
