---
title: Tutorials
---

{% extends "base.j2" %}

{% block css %}
<style type="text/css">
div.tutorial {
  background-color: #eee;
  border: .09em solid black;
  box-shadow: .5em .5em 0 #333;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}
div.row > div.tutorial > img {
  width: 90px;
}
</style>
{% endblock css %}

{% block container %}
<h2>Tutorials</h2>
<div class="row">
  <div class="span5 tutorial">
    <a class="tutorial-title" href="http://www.youtube.com/watch?v=Ia1LAasLT9M" target="_blank">Load variables</a>
  </div>
  <div class="span5 tutorial">
    <a class="tutorial-title" href="https://github.com/UV-CDAT/uvcdat/wiki/Adding-new-plots-to-UVCDAT" target="_blank">Adding new plots to UV-CDAT <img src="media/images/githubwiki.png"></a>
  </div>
</div>
<div class="row">
  <div class="span5 tutorial">
    <a class="tutorial-title" href="http://uvcdat.llnl.gov/media/mov/UVCDAT_Departures_MM_annotated4.mp4" target="_blank">Hovm&ouml;ller 3D Example</a>
  </div>
  <div class="span5 tutorial">
    <a class="tutorial-title" href="http://uvcdat.llnl.gov/media/mov/UVCDAT_error_tf-ta_anno4.mp4" target="_blank">3D Scalar Example with calculated variable</a>
  </div>
</div>
{% endblock container %}
