.navbar .logo {
	max-height:44px;
	padding-top:3px;
}

.jumbotron.no-overflow {
	position:relative;
	overflow:hidden;
	background-color: rgba(225, 225, 225, .85);
}

div.hero-bg {
  position: absolute;
  left: 40px;
  top: 0;
  z-index: -1;
  background-image: url(/images/uvcdat-jumbo.png);
  background-position: 0 -100px;
  background-repeat: no-repeat;
  background-size: 750px auto;
  width: 100%;
  height: 100%;
}

div.announcement {
  background: none;
  border: 1px solid #ccc;
  border-radius: 0;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 15px 30px;
  width: 75%;
}

.example {
  float:left;
  height:350px;
  width:350px;
  word-break:normal;
  margin:10px;
}

.img-wrapper {
  height: 250px;
  width: 300px;
  
  margin-left:auto;
  margin-right:auto;

  text-align: center;

  margin-bottom:10px;
  /* image centering magic */
  font: 0/0 a;
}

div.sponsor_image img {
  float:left;
  height:200px;
  margin:1em;
}

/* magic to vertically center image */
.img-wrapper:before {
  content: ' ';
  display:inline-block;
  vertical-align: middle;
  height:100%;
}

.example img {
  display:inline-block;
  vertical-align: middle;
}

.example a {
  display:block;
}

.example p {
  padding-left:5px;
  padding-right:5px;
  text-align:center;
}

img {
  height:auto;
  max-width:100%;
}

/* Syntax highlighting rules */
.highlight { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .kn { color: rgb(165, 94, 255);}
.highlight .nn { color: rgb(114, 230, 0);}
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* fix for anchor links */
a[name] {
  padding-top: 45px;
  margin-top: -45px;
  -webkit-backgorund-clip: content-box;
  background-clip: content-box;
}

.footer-links {
  text-align:center;
}

footer .nav>li>a {
  padding-top:0;
  padding-bottom:0;
}

footer a {
  width:100%;
  color: #888;
}

footer a:hover {
  color: #AAA;
}

footer {
  color:#777;
  background-color:#EEE;
  border-top:1px solid #DDD;
  box-shadow: 0 1px 0 #FFF inset;
  padding-top:30px;
}

.footernav {
  border-right:1px solid #DDD;
  box-shadow: -1px 0 0 #FFF inset;
}

.footernav:first-child {
  text-align:right;
}

.footernav:last-child {
  border-right:0;
  box-shadow:none;
}

.bottom-links {
  padding-top: 1em;
}