<script src="{{ media_url('js/libs/bootstrap.js') }}"></script>
<script src="{{ media_url('js/libs/bootstrap-button.js') }}"></script>
<script src="{{ media_url('js/libs/bootstrap-collapse.js') }}"></script>
<script src="{{ media_url('js/libs/bootstrap-dropdown.js') }}"></script>
<script src="{{ media_url('js/libs/bootstrap-transition.js') }}"></script>
{#  <script src="{{ media_url('js/libs/bootstrap-alert.js') }}"></script>#}
{#  <script src="{{ media_url('js/libs/bootstrap-modal.js') }}"></script>#}
{#  <script src="{{ media_url('js/libs/bootstrap-scrollspy.js') }}"></script>#}
{#  <script src="{{ media_url('js/libs/bootstrap-tab.js') }}"></script>#}
{#  <script src="{{ media_url('js/libs/bootstrap-tooltip.js') }}"></script>#}
{#  <script src="{{ media_url('js/libs/bootstrap-popover.js') }}"></script>#}
<script src="{{ media_url('js/libs/bootstrap-carousel.js') }}"></script>
{#  <script src="{{ media_url('js/libs/bootstrap-typeahead.js') }}"></script>#}
<script src="{{ media_url('js/libs/jquery.flippy.min.js') }}"></script>
<script src="{{ media_url('js/flipper.js') }}"></script>