{% extends "base.j2" %}

{% block inside_container %}
	
	{% block pre_content_php %}
	{% endblock pre_content_php %}
	
	{{ super() }}

	{% block post_content_php %}
	{% endblock post_content_php %}

{% endblock inside_container %}